.signOutButton {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  height: 2.5rem;
  padding: 0 1.5rem;
  border-radius: 3rem;
  background: var(--yellow);
  
  font-weight: bold;
  color: var(--black);

  svg {
    width: 20px;
    height: 20px;
  }

  svg:first-child {
    margin-right: 0.5rem;
  }

  svg:last-child {
    margin-left: 0.5rem;
  }

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}