.searchInput {
  display: flex;
  justify-content: flex-start;
}

.searchTextArea {
  border: none;
  height: 3rem;
  padding: 0 15rem;
  padding-left: 1rem;
  border-radius: 0.5rem 0 0 0.5rem;

  font-size: 1rem;
  font-style: italic;
}

.searchButton {  
  border: 0;
  height: 3rem;
  
  padding: 0 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  
  font-weight: bold;
  background: var(--yellow);

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}