.searchInput {
  display: flex;
  justify-content: center;
}

.searchTextArea {
  border: none;
  height: 2.5rem;
  padding: 0 10rem ;
  padding-left: 1rem;
  border-radius: 0.5rem 0 0 0.5rem;

  font-size: 1rem;
  font-style: italic;
}

.searchButton {  
  border: 0;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background: var(--yellow);

  svg {
    width: 25px;
    height: 25px;
  }

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}