.mainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 75vh;

  max-width: 1120px;
  margin: 0rem auto;
  padding: 0 2rem;
}

.searchContainer {
  margin-right: 1rem;

  h1 {
    font-size: 1.95rem;
    margin-bottom: 1rem;
  }
}